<nav class="navbar">
  <a href="#" class="navbar-logo">Jagatirta</a>
  <div class="navbar-nav">
    <a href="#about">Tentang</a>
    <a href="#product">Sumber air</a>
    <a href="#shop">Blog</a>
    <a href="#contact">Login</a>
  </div>
  <div class="navbar-extra">
    <a id="menu"><i class="bi bi-list"></i></a>
  </div>
</nav>
