<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <title>blog</title>
  </head>
  <body>
    <div class="hero">
      <div class="content">
        <h1>Artikel lingkungan</h1>
        <p>
          Temukan berita terupdate apa saja yang terjadi di Indonesia terkait
          lingkungan hidup dan tambah wawasan anda mengenai inovasi di bidang
          teknologi bagi lingkungan
        </p>
        <button>mulai membaca</button>
      </div>
    </div>
    <section class="head">
      <div class="left">
        <div class="post">
          <img src="/img/nikel.jpg" alt="" />
          <div class="desc">
            <h4>
              Lingkungan di Sulawesi Tenggara terancam limbah tambang nikel
            </h4>
            <p>
              Saat musim hujan tiba, dia berkata, limbah dari area pertambangan
              nikel terbawa arus ke perairan Pulau Labengki. Jika air sedang
              keruh, Tawing terpaksa urung membawa turis menyelam.
            </p>
          </div>
        </div>
      </div>
      <div class="right">
        <h3>kategori</h3>
        <ul class="labels">
          <li>bencana</li>
          <li>inovasi</li>
          <li>tokoh teladan</li>
          <li>edukasi</li>
          <li>wisata</li>
        </ul>
      </div>
    </section>
    <section class="main">
      <div class="post">
        <img
          src="https://pangannews.id/_blog_images/pusat_0dff2ee9-1899-46c9-8534-f6712a1eec1d_news.jpeg"
          alt=""
        />
        <div class="desc">
          <h4>
            Balitbangtan Kenalkan Irigasi Otomatis Berbasis IoT di Food Estate
            Wonosobo
          </h4>
          <p>
            Kementerian Pertanian (Kementan) melalui Badan Penelitian dan
            Pengembangan Pertanian (Balitbangtan) mengenalkan teknologi irigasi
            otomatis berbasis sistem pakar atau internet of things (Iot) untuk
            Food Estate berbasis hortikultura di Desa Lamuk, Wonosobo, Jawa
            Tengah.
          </p>
        </div>
      </div>
      <div class="post">
        <img
          src="https://pangannews.id/_blog_images/pusat_24696bdb-44b9-4a7e-8fe5-885ddfba0883_news.jpeg"
          alt=""
        />
        <div class="desc">
          <h4>
            KKP Jadikan Momentum Hari Tuna Sedunia Sebagai Semangat Peningkatan
            Pasar Ikan Tuna Indonesia
          </h4>
          <p>
            Budi mengatakan KKP telah menggandeng Marine Stewardship Council
            (MSC), yaitu organisasi non-pemerintah yang turut mendorong pasar
            produk seafood berkelanjutan, terutama tuna.
          </p>
        </div>
      </div>
      <div class="post">
        <img
          src="https://asset.kompas.com/crops/nVGThbu8vaQH4nWm7tpNSvJbJOI=/0x0:0x0/750x500/data/photo/2023/06/16/648bc17576efa.jpg"
          alt=""
        />
        <div class="desc">
          <h4>
            DLH Sukoharjo Imbau Perajin Alkohol dan Printing Tak Buang Limbah ke
            Sungai Bengawan Solo
          </h4>
          <p>
            Dinas Lingkungan Hidup (DLH) Sukoharjo, Jawa Tengah, mengimbau para
            perajin alkohol tidak membuang limbahnya ke Sungai Bengawan Solo
            sepanjang musim kemarau.
          </p>
        </div>
      </div>
      <div class="post">
        <img
          src="https://statik.tempo.co/data/2023/10/08/id_1243610/1243610_720.jpg"
          alt=""
        />
        <div class="desc">
          <h4>
            KTT AIS akan Berlangsung di Bali, Bahas Perubahan Iklim hingga
            Ekonomi Biru
          </h4>
          <p>
            Konferensi Tingkat Tinggi Archipelagic and Island States atau KTT
            AIS Forum 2023 akan diselenggarakan di Bali pada 10–11 Oktober 2023.
            Acara ini bertujuan meningkatkan kualitas ekosistem pesisir dan laut
            untuk menjaga keberlanjutan lingkungan maritim.
          </p>
        </div>
      </div>
      <div class="post">
        <img
          src="https://statik.tempo.co/data/2023/07/16/id_1220217/1220217_720.jpg"
          alt=""
        />
        <div class="desc">
          <h4>
            BPOM Soroti Senyawa Aktif Obat yang Kontaminasi Perairan Indonesia
          </h4>
          <p>
            Kepala Badan Pengawas Obat dan Makanan (BPOM) RI Penny K Lukito
            menyoroti paparan senyawa aktif obat yang mengontaminasi perairan
            Indonesia serta mengancam kesehatan masyarakat.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
