<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Express.js Example</title>
  </head>
  <body>
    <nav></nav>
    <div class="hero">
      <div class="content">
        <h1>
          Menjaga air <br />
          Hingga ke hilir
        </h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
          cupiditate in exercitationem beatae laborum atque dolore inventore
          debitis. Vero, nulla!
        </p>
        <button>lebih lanjut</button>
      </div>
    </div>
    <section class="about" id="about">
      <div class="left">
        <h2>tentang kami</h2>
        <div class="line"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          optio quos ea vero ipsa totam, deserunt ex praesentium nostrum qui et
          quis quia cumque excepturi sunt magnam deleniti ut officiis? Ducimus
          sequi soluta voluptas nihil, tempore consequuntur consectetur?
          Sapiente, at qui laboriosam est mollitia magnam rerum similique quidem
          quae illo.
        </p>
        <button>lebih lanjut</button>
      </div>
      <div class="right">
        <img src="/img/grojogan.jpg" alt="" class="med" />
        <img src="/img/pantai-klayar.jpg" alt="" class="big" />
      </div>
    </section>
    <section class="mission">
      <div class="left">
        <div class="list">
          <div class="toast">
            <div class="icon"><i class="bi bi-eye"></i></div>
            <span>Monitoring</span>
          </div>
          <div class="toast">
            <div class="icon"><i class="bi bi-exclamation-diamond"></i></div>
            <span>Reporting</span>
          </div>
          <div class="toast">
            <div class="icon"><i class="bi bi-table"></i></div>
            <span>Organizing</span>
          </div>
        </div>
        <img src="/img/danau.jpeg" alt="" />
      </div>
      <div class="right">
        <h2>
          misi kami <br />
          untuk lingkungan
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum
          maiores odit ab, beatae consequuntur, maxime modi nesciunt nobis sed,
          similique voluptatem magni dolores culpa Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Cum dolorem tenetur ipsa quis explicabo,
          vitae voluptatum ex dolore sed nesciunt!
        </p>
        <button>lebih lanjut</button>
      </div>
    </section>
    <section class="destination">
      <h2>destinasi terpopuler</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        ducimus incidunt ut magni ex ab. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Ea officia possimus, ipsa corrupti explicabo tempore.
      </p>
      <div class="container">
        <div class="card">
          <img src="/img/pantai-klayar.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/pantai-klayar.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/pantai-klayar.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/pantai-klayar.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/pantai-klayar.jpg" alt="" />
        </div>
      </div>
    </section>

    <section class="blog">
      <h2>postingan terbaru</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        ducimus incidunt ut magni ex ab. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Ea officia possimus, ipsa corrupti explicabo tempore.
      </p>
      <div class="container">
        <div class="left">
          <div class="post">
            <img src="/img/danau.jpeg" alt="" />
            <div class="desc">
              <h4>
                dampak pencemaran air yang ada di indonesia bagi masyarakat
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptas facere cumque ratione. Repellat, omnis magnam? Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Minus,
                reprehenderit.
              </p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="post">
            <img src="/img/danau.jpeg" alt="" />
            <div class="desc">
              <h4>
                dampak pencemaran air yang ada di indonesia bagi masyarakat
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptas facere cumqu elit. Minus, reprehenderit.
              </p>
            </div>
          </div>
          <div class="post">
            <img src="/img/danau.jpeg" alt="" />
            <div class="desc">
              <h4>
                dampak pencemaran air yang ada di indonesia bagi masyarakat
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptas facere cumqu elit. Minus, reprehenderit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="desc">
        <h4>jagatirta</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, harum,
          molestiae aliquam eius culpa nihil adipisci accusantium fugit eos
          iure, sapiente a placeat. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Aperiam voluptatem incidunt, illum sint voluptate
          voluptatibus.
        </p>
      </div>
      <div class="menu">
        <h4>menu</h4>
        <ul>
          <li>beranda</li>
          <li>tentang</li>
          <li>produk</li>
          <li>testimoni</li>
          <li>blog</li>
        </ul>
      </div>
      <div class="medsos">
        <h4>media sosial</h4>
        <div class="icon">
          <i class="bi bi-whatsapp"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-facebook"></i>
        </div>
      </div>
    </footer>

    <!-- <script src="/js/index.js"></script> -->
  </body>
</html>
