<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Sansita:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Express.js Example</title>
  </head>
  <body>
    <nav></nav>
    <div class="hero">
      <div class="content">
        <h1>
          Menjaga air <br />
          Hingga ke hilir
        </h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
          cupiditate in exercitationem beatae laborum atque dolore inventore
          debitis. Vero, nulla!
        </p>
        <button>lebih lanjut</button>
      </div>
    </div>
    <section class="about" id="about">
      <div class="left">
        <h2>tentang kami</h2>
        <div class="line"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          optio quos ea vero ipsa totam, deserunt ex praesentium nostrum qui et
          quis quia cumque excepturi sunt magnam deleniti ut officiis? Ducimus
          sequi soluta voluptas nihil, tempore consequuntur consectetur?
          Sapiente, at qui laboriosam est mollitia magnam rerum similique quidem
          quae illo.
        </p>
        <button>lebih lanjut</button>
      </div>
      <div class="right">
        <img src="/img/grojogan.jpg" alt="" class="med" />
        <img src="/img/pantai-klayar.jpg" alt="" class="big" />
      </div>
    </section>
    <section class="mission">
      <div class="left">
        <img src="/img/danau.jpeg" alt="" />
      </div>
      <div class="right">
        <h2>misi kami</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum
          maiores odit ab, beatae consequuntur, maxime modi nesciunt nobis sed,
          similique voluptatem magni dolores culpa.
        </p>
      </div>
    </section>
  </body>
</html>
